/* Container pour la barre de recherche */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%; /* Largeur adaptée à l'écran */
}

/* Boîte de recherche */
.search-box {
    display: flex;
    align-items: center;
    width: 160px; /* Largeur par défaut */
    padding: 12px 20px;
    font-size: 12px;
    border: 2px solid #4CAF50; /* Bordure externe verte */
    border-radius: 8px; /* Coins arrondis */
    outline: none;
    background-color: #f9f9f9; /* Couleur de fond claire */
    transition: all 0.3s ease; /* Transition douce */
    margin-right: 20px; /* Espacement par défaut */
}

/* Effet de survol de la boîte de recherche */
.search-box:hover {
    border-color: #388E3C; /* Bordure verte foncée au survol */
    box-shadow: 0 0 10px rgba(56, 142, 172, 0.5); /* Ombre douce */
}

/* Effet de focus sur la boîte de recherche */
.search-box:focus {
    border-color: #FFEB3B; /* Bordure jaune au focus */
    background-color: #fff; /* Fond blanc au focus */
    box-shadow: 0 0 8px rgba(255, 235, 59, 0.6); /* Ombre jaune claire */
    animation: inputFocus 0.3s ease-out;
}

/* Input de recherche */
#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px; /* Ajustez la largeur selon vos besoins */
    transition: all 0.3s ease;
}

/* Bouton de recherche */
#search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 0;
    padding: 10px;
}

/* Réactivité pour les petits écrans */
@media screen and (max-width: 768px) {
    .search-container {
        flex-direction: column;
        padding: 0 10px;
    }

    .search-box {
        margin-right: 0;
        margin-top: 10px;
        width: 100%;
    }

    #search-input {
        width: 100%; /* Pleine largeur sur les écrans plus petits */
    }
}

/* Animation focus */
@keyframes inputFocus {
    0% {
        box-shadow: 0 0 0px rgba(56, 142, 172, 0.5);
    }
    100% {
        box-shadow: 0 0 8px rgba(56, 142, 172, 0.5);
    }
}

/* Mise en surbrillance */
.highlighted {
    background-color: yellow; /* Mise en surbrillance des mots trouvés */
}

/* Style pour les tableaux */
.exemple td {
    padding: 8px;
}

.exemple td.highlight {
    background-color: #FFEB3B; /* Surbrillance jaune */
}

.exemple tbody tr {
    transition: background-color 0.3s ease;
}

.exemple tbody tr:hover {
    background-color: #f7e8a5; /* Couleur de fond pour le survol */
}

.exemple tbody tr.visible {
    background-color: #979899; /* Surbrillance des lignes trouvées */
}

/* Ajustements pour petits écrans */
@media (max-width: 600px) {
    .search-box {
        width: 100%; /* Largeur adaptative pour petits écrans */
        margin-bottom: 10px;
    }

    .exemple td {
        font-size: 15px; /* Réduction de la taille du texte */
    }
}
